In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
Raw_data =  pd.read_csv('mail_data.csv')
Raw_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
mail_data = Raw_data.where((pd.notnull(Raw_data)),'')

In [5]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
mail_data.shape

(5572, 2)

In [8]:
mail_data.loc[mail_data['Category'] == 'spam','Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham','Category',] = 1

In [9]:
x= mail_data['Message']
y = mail_data['Category']

In [10]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [11]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [12]:
X_train , X_test , Y_train ,Y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=3)

In [13]:
print(X_train.shape,X_test.shape)

(4457,) (1115,)

In [15]:
feature_Extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
X_train_feature = feature_Extraction.fit_transform(X_train)
X_test_feature = feature_Extraction.transform(X_test)
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [16]:
print(X_train_feature)

  (0, 0)	0.23628394623676158
  (0, 1657)	0.28101404009316056
  (0, 6468)	0.26793132631329497
  (0, 4557)	0.28101404009316056
  (0, 421)	0.25144905621529934
  (0, 4306)	0.26793132631329497
  (0, 5029)	0.17467075796896542
  (0, 2644)	0.28101404009316056
  (0, 1540)	0.17407870571957915
  (0, 6330)	0.24059246244542992
  (0, 3627)	0.25144905621529934
  (0, 3113)	0.28101404009316056
  (0, 1193)	0.22908400928709988
  (0, 1857)	0.17073786814794129
  (0, 3806)	0.28101404009316056
  (0, 2353)	0.28101404009316056
  (1, 4076)	0.1543395674723974
  (1, 5416)	0.28967873139399253
  (1, 6977)	0.1293522168838017
  (1, 765)	0.21147006367289747
  (1, 1068)	0.1771111381363262
  (1, 3089)	0.13752009582621935
  (1, 3961)	0.20073435617244362
  (1, 3828)	0.13684128003316173
  (1, 2113)	0.19851614641109666
  :	:
  (4456, 3913)	0.23883125341667502
  (4456, 2138)	0.23883125341667502
  (4456, 6568)	0.23883125341667502
  (4456, 6646)	0.22771237505351186
  (4456, 5447)	0.2198234053076842
  (4456, 4878)	0.2137042449780485
  (4456, 5420)	0.19758564858135794
  (4456, 4765)	0.1730749026661772
  (4456, 2690)	0.19758564858135794
  (4456, 2236)	0.17068883072653956
  (4456, 1290)	0.1566807006510762
  (4456, 4975)	0.15534275099802256
  (4456, 1571)	0.1695693884304312
  (4456, 3362)	0.13296028402451
  (4456, 5430)	0.2902170940779003
  (4456, 3147)	0.11213756070741854
  (4456, 4120)	0.11213756070741854
  (4456, 7434)	0.1566807006510762
  (4456, 3262)	0.16745892210920407
  (4456, 2414)	0.17857780047236718
  (4456, 7339)	0.13767285254208542
  (4456, 5091)	0.1743505991070133
  (4456, 3748)	0.1028335575523561
  (4456, 3828)	0.1128214497218694
  (4456, 3982)	0.11453591597456492

In [17]:
model =LogisticRegression()

In [18]:
model.fit(X_train_feature,Y_train)

LogisticRegression()

In [19]:
training_predition = model.predict(X_train_feature)
accuracy_training = accuracy_score(Y_train,training_predition)
print("Accuracy on training data",accuracy_training)

Accuracy on training data 0.9670181736594121

In [21]:
test_predition = model.predict(X_test_feature)
accuracy_testing = accuracy_score(Y_test,test_predition)
print("Accuracy on testing data",accuracy_testing)

Accuracy on testing data 0.9721973094170404

In [34]:
input_mail=["XXXMobileMovieClub: To use your credit, click the WAP link in the next txt message or click here>> http://wap. xxxmobilemovieclub.com?n=QJKGIGHJJGCBL"]
input_data_feature = feature_Extraction.transform(input_mail)
prediction = model.predict(input_data_feature)

if prediction[0]==1:
    print("Ham Mail")
else:
        print("Spam Mail")

Spam Mail